# TODO: Docker Compose development setup
services:
  web:
    extends:
      file: docker-compose.yaml
      service: web
    image: match-uploader-server-dev
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    pull_policy: build
  worker:
    extends:
      file: docker-compose.yaml
      service: worker
    image: match-uploader-server-dev
    pull_policy: never
  db:
    extends:
      file: docker-compose.yaml
      service: db
    ports:
      - 5432:5432
    env_file:
      - ./server/env/development.env

volumes:
  db_data:
