@font-face {
    font-family: 'ClearSans';
    src: url(./fonts/ClearSans-Regular-webfont.woff);
    font-weight: normal;
    font-style: normal;
}

html {
    overflow-y: auto !important;
}

body {
    font-family: ClearSans, sans-serif !important;
}

/* https://stackoverflow.com/a/59769716 */
.force-text-wrap {
    -webkit-line-clamp: unset !important;
}

.v-card-title {
    letter-spacing: normal !important; /* This is intentionally overriding Vuetify's style here as I don't like the way
                                          the increased letter spacing looks*/
}
