# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment dependent files
**/node_modules
dist/
**/**/*.log
*.env
server/settings/settings.json

# MacOS folder attributes file
.DS_Store
