NODE_ENV=production
PORT=8081
HOST=localhost

JET_LOGGER_MODE=FILE
JET_LOGGER_FILEPATH=jet-logger.log
JET_LOGGER_TIMESTAMP=TRUE
JET_LOGGER_FORMAT=LINE

POSTGRES_HOST=localhost
POSTGRES_DB=match_uploader
POSTGRES_PORT=5432
POSTGRES_USER=match_uploader
POSTGRES_PASSWORD=

# postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
DB_CONNECTION_STRING=
